<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="aitoc_reviewbooster" frontName="aitocreviewbooster">
            <module name="Aitoc_ReviewBooster"/>
        </route>
    </router>
</config>
